<a href="https://colab.research.google.com/github/yfhkucing/experiment_bms/blob/master/model_temp_30.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [4]:
feature = pd.read_excel('/content/Koordinat dan Input Skenario.xlsx',sheet_name='InputSkenario')
label = pd.read_excel('/content/data_big_4.xlsx',sheet_name='Sheet2')
feature.pop('Jam')
feature.pop('Fan')

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
187    1.0
188    1.0
189    1.0
190    1.0
191    1.0
Name: Fan, Length: 192, dtype: float64

In [5]:
label

      koor_x  koor_y        Vx        Vy       Temp
0          1      30  0.002399 -0.073255  27.417225
1          1      63  0.002269 -0.075449  27.366829
2          1      94  0.002446 -0.076216  27.273479
3          1     113  0.002551 -0.073114  27.065680
4          1     145  0.002307 -0.072831  26.763813
...      ...     ...       ...       ...        ...
5755     104      68  0.032203  0.101951  26.107449
5756     104     102  0.095899  0.079573  25.759459
5757     104     125  0.055757  0.087645  25.356976
5758     104     161  0.044939  0.072076  24.928185
5759     104     202  0.071227  0.084600  24.976072

[5760 rows x 5 columns]

In [7]:
array_y = []
for i in range(30):
  frame= label[i::30]
  frame = frame.drop(['koor_x','koor_y',],axis=1)
  frame = frame.drop(['Vx','Vy'],axis=1)
  array_y.append(frame)

In [8]:
array_y[0]

           Temp
0     27.417225
30    28.444975
60    28.305269
90    27.762444
120   27.762644
...         ...
5610  25.435297
5640  25.273245
5670  22.882633
5700  23.984982
5730  24.094467

[192 rows x 1 columns]